.container-1 {
  background-color: $neutral-100;
  padding: $unit-4;

  border-radius: $unit-2;
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.side-wrapper {
  display: flex;
  flex-direction: column;
  gap: $unit-4;
}

.resume-wrapper {
  width: 210mm;
  height: 297mm;
  display: flex;
  flex-direction: column;
  gap: $unit-8;
}

.app-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: $unit-8;
}

.form-wrapper {
  background-color: $neutral-100;
  display: flex;
  flex-direction: column;
  padding: $unit-3;
  border-radius: $unit-2;
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

/* The Modal (background) */
.modal-container {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  position: absolute;
  top: 0;
  right: 0;

  color: $neutral-400;
  font-size: $unit-6;

  border: none;
  background-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;

  width: $unit-6;
  height: $unit-6;

  &:focus,
  &:hover {
    color: $neutral-500;
    text-decoration: none;
    cursor: pointer;
  }
  &:active {
    color: $neutral-600;
  }
}
