@import '../styles/index.scss';


.page {
  width: 210mm;
  display: grid;
  gap: $unit-4;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header header"
    "left right";
}
